<!-- 适用对象 -->
<div class="intended-for-banner">
  <h5 class="modelbox-banner-header">{{site.data.locale.intendedFor}}</h5>

  {%- if site.data.intented-for -%}
  <div class="container">
    {%- for item in site.data.intented-for -%}
    <div class="row">
      <div class="modelbox-intended-img">
        <img class="modelbox-card-img" src="{{item.img | prepend: site.img_path }}" />
      </div>
      <div class="modelbox-intended-for" style="padding: 0 20px">
        <h6 class="modelbox-card-header">{{ item.header }}</h6>
        <div class="modelbox-card-content">{{ item.content }}</div>
      </div>
    </div>

    {%- endfor -%}
  </div>
  {%- endif -%}
</div>