<script>
    function useNow() {
    window.open('https://hub.docker.com/u/modelbox');
  }
  function getStarted() {
    window.open('/modelbox-book/');
  }
</script>
<div class="modelbox-carousel-wrapper">
  <dvi class="content">
    <div class="content-body">{{site.description}}</div>
    <div class="button-group">
      <button class="button-primary-light" onclick="useNow()">立即使用</button>
      <button class="button-primary-dark" onclick="getStarted()">使用介绍</button>
    </div>
  </dvi>
</div>
